/* line 8, style.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 13, style.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #adadad;
}

/* bandeau */
/* line 23, style.scss */
.head {
  height: 70px;
  position: relative;
  background-color: #898989;
  border-bottom: 1px solid #e4e4e4;
}

/* line 30, style.scss */
.head form {
  position: absolute;
  top: 40px;
  right: 10px;
}

/* line 36, style.scss */
.head input {
  border: 1px solid #363739;
  border-radius: 50px;
  background: top, #84868d 0%, #424447 100%;
  padding: 0px 5px 0px 10px;
  margin: 0px;
  height: 20px;
  width: 150px;
}

/* line 46, style.scss */
.head .titre {
  position: absolute;
  color: white;
  margin-top: 0px;
  top: 15px;
  left: 15px;
}

/* line 54, style.scss */
.head label {
  position: absolute;
  color: white;
  margin-top: 0px;
  bottom: 30px;
}

/* inscription */
/* line 63, style.scss */
.inscrip {
  width: 500px;
 // margin-left: 72%;
  margin-top: 100px;
  border: 1px solid #e4e4e4;
  background-color: #898989;
  border-radius: 10px;
}

/* line 72, style.scss */
.inscrip form {
  padding: 20px;
}

/* line 76, style.scss */
.inscrip label {
  color: white;
}

/* line 80, style.scss */
.inscrip input, textarea {
  border: 1px solid #363739;
  border-radius: 10px;
  background: top, #84868d 0%, #424447 100%;
  padding: 0px 5px 0px 10px;
  height: 20px;
  width: 300px;
}

/* line 89, style.scss */
.inscrip textarea {
  height: 100px;
  width: 300px;
}

/* line 95, style.scss */
.envoyer {
  width: auto;
  padding: 5px;
  cursor: pointer;
}

/* Main */
/* line 103, style.scss */
.gauche {
  width: 10%;
  min-height: 100%;
  background-color: #898989;
  border-right: 1px solid white;
}

/* line 112, style.scss */
.table {
  width: 100%;
  text-align: left;
  border: 0;
  color: white;
}

/* line 120, style.scss */
.table a {
  margin-left: 10%;
  text-decoration: none;
  color: white;
}

/* line 126, style.scss */
.table td, th, tr {
  height: 55px;
  border: 0;
}

/* pop up */
/* line 132, style.scss */
.first {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 138, style.scss */
.titrePop {
  position: relative;
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
}

/* line 146, style.scss */
.second {
  position: relative;
  width: 500px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  border: 1px solid #e4e4e4;
  background-color: #898989;
}

/* line 157, style.scss */
.second form {
  padding: 20px;
  border-top: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 164, style.scss */
.second label {
  color: white;
}

/* line 168, style.scss */
.second input, textarea {
  border: 1px solid #363739;
  border-radius: 10px;
  background: top, #84868d 0%, #424447 100%;
  padding: 0px 5px 0px 5px;
  height: 30px;
  width: 225px;
}

/* line 177, style.scss */
.second textarea {
  height: 50px;
}
